*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto','Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
*:focus{
  outline: 3px dashed #FF7500;
  outline-offset: 3px;
}
/* Container */
.container{
  width: 100%;
  max-width: 1140px;
  padding: 0 20px;
  margin: auto;

}
.site-header {
  padding: 16px 0;
  border-top: 5px solid #FF7500;
  background-color: #fff;
}
.site-header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.logo-link{
  display: block;
  transition: opacity 0.4s ease;
}

.logo-link:hover{
  opacity: 0.8;
}
.logo-link:active{
  opacity: 0.6;
}
.logo-link img{
  display: block;
}
.site-header-actions{
  display: flex;
  align-items: center;
}

.sitenav-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-right: 32px;
}
.sitenav-item:not(:last-child){
  margin-right: 32px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  transition: color 0.4s ease,
  opacity 0.4s ease;
}
.nav-link:hover{
  color: #FF7500;
}
.nav-link:active{
  opacity: 0.6;
}
.main-btn {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: #FF7500;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.4s ease;
}

.main-btn:hover{
  opacity: 0.8;
}
.main-btn:active{
  opacity: 0.6;
}

/* HERO */
.hero {
  color: #fff;
  background-color: #252420;
}
.hero-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 0;
}
.hero-content {
  width: 387px;
}

.orange-line {
  width: 80px;
  height: 3px;
  border: none;
  background-color: #FF7500;
  margin: 0;
  margin-bottom: 40px;
}

.hero-heading {
  font-size: 40px;
  line-height: 1.2;
  font-family: 'Roboto Condensed','Arial', sans-serif;
  margin: 0;
  margin-bottom: 24px;
}
.hero-text{
  margin: 0;
  margin-bottom: 32px;
}
.hero-img{
  border-radius: 8px;
  box-shadow: 24px 24px 0px rgba(255, 117, 0, 0.6);
}

/* FEATURE */

.features{
  padding: 210px 0;
}

.features-heading{
  font-family: 'Roboto Condensed','Arial',sans-serif;
  width: 435px;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom: 72px;
}
.features-list{
  display: flex;
  padding: 0;
  margin: 0;
}
.feature-icon-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 32px;
  background-color: rgba(255, 117, 0, 0.2);
}

.feature-item{
  width: 340px;
  list-style: none;
}
.feature-item:not(:last-child){
  margin-right: 40px;
}

.feature-subtitle{
  margin-top: 0;
  margin-bottom: 12px;
  font-family: 'Roboto Condensed','Arial', sans-serif;
  font-size: 24px;
}
.feature-desc{
  margin: 0;
}


/* Promo */
.promo{
  padding-top: 120px;
  padding-bottom: 160px;
}
.promo-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px;
  border-radius: 12px;
  background-color: #252420;
  color: #fff;
}
.promo-content{
  width:440px;
}
.promo-heading{
  font-family: 'Roboto Condensed','Arial', sans-serif;
  font-size: 40px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 24px;
}
.promo-desc{
  margin-top: 0;
  margin-bottom: 0;
}
.promo-desc:not(:last-child){
  margin-bottom: 12px;
}
.promo-info-wrapper{
  margin-bottom: 24px;
}

span{
  color: #FF7500;
  font-weight: bold;
}
/* oblect fit ko'rib chiqishimiz kerak */
.promo-img{
  border-radius: 12px;
  object-fit: cover;
}
/* SITE-FOOTER */
.site-footer{
  background-color: #F8F8F8;
  padding: 56px 0;
}
.site-footer-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer-socials{
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.site-footer-socials li:not(:last-child){
   margin-right: 16px;
}

.site-footer-socials a{
  display: block;
  color: #252420;
}
.site-footer-socials a:hover{
  color: #FF7500;
}
.site-footer-socials a:active{
  opacity: 0.6;
}
.site-footer-socials svg{
  display: block;
}


.site-footer-divider{
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);
  border: none;
  margin-top: 40px;
  margin-bottom: 64px;
}
.site-footer-bottom{
  display: flex;
}

.site-footer-link-list{
  list-style: none;
  width:  224px;
  line-height: 19px;
  padding: 0;
  margin: 0;
}
.site-footer-link-list li:not(:last-child){
  margin-bottom: 16px;
}
.site-footer-link-list:not(:last-child){
  margin-right: 68px;
}
.site-footer-link-list a{
  text-decoration: none;
  color: #252420;

}
.site-footer-link-list a:hover{
  color: #FF7500;
}
.site-footer-link-list a:active{
  opacity: 0.6;
}