body{
  font-family: 'Roboto','Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
.site-header-actions{
  display: flex;
  align-items: center;
}

.sitenav-list {
  list-style: none;
  display: flex;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
}

.main-btn {
  background: #FF7500;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #fff;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: #252420;
}

.hero-content {
  width: 387px;
}

.orange-line {
  width: 80px;
  height: 3px;
  background-color: #FF7500;
}

.hero-heading {
  font-size: 40px;
  line-height: 1.2;
  font-family: 'Roboto Condensed','Arial', sans-serif;
}

/* FEATURE */



.features-heading{
  font-family: 'Roboto Condensed','Arial',sans-serif;
  width: 435px;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5px;
}
.features-list{
  display: flex;
  justify-content: space-between;
}
.feature-icon-wrapper{
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}

.feature-item{
  width: 340px;
  list-style: none;
}

.feature-subtitle{
  font-family: 'Roboto Condensed','Arial', sans-serif;
  font-size: 24px;
}

.promo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252420;
  color: #fff;
}
.promo-content{
  width:440px;
}
.promo-heading{
  font-family: 'Roboto Condensed','Arial', sans-serif;
  font-size: 40px;
  line-height: 1.2;
}

strong{
  color: #FF7500;
}
/* oblect fit ko'rib chiqishimiz kerak */
.promo-img{
  border-radius: 12px;
  object-fit: cover;
}
/* SITE-FOOTER */
.site-footer{
  background-color: #F8F8F8;
}
.site-footer-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer-socials{
  list-style: none;
  display: flex;
  align-items: center;
}

.site-footer-divider{
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);
}
.site-footer-bottom{
  display: flex;
}

.site-footer-link-list{
  list-style: none;
  width:  224px;
  line-height: 19px;
}
.site-footer-link-list a{
  text-decoration: none;
  color: #252420;
}